<div class="wrapper"> 

    <!-- 1st blog post -->
    <div class="card">
  
      <!-- banner image and text -->
        <div class="card-banner">
          <p class="category-tag popular">Service</p>
          <!-- <img class="banner-img" src='post1.jpg' alt=''> -->
        </div>
  
  <!-- #tags,heading,description -->
        <div class="card-body">
          <p class="blog-hashtag">#Food #Pizza</p>
          <h2 class="blog-title">What is the tastiest pizza in Pizza Hut?</h2>
          <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
  
  <!-- Profile image, name, followers -->
          <div class="card-profile">
            <img class="profile-img" src='profile-1' alt=''>
            <div class="card-profile-info">
              <h3 class="profile-name">Eleanor Pea</h3>
              <p class="profile-followers">5.2k followers</p>
            </div>
          </div>
  
        </div>
      </div>
  <!-- 1st blog post - The End -->
