

<app-nav></app-nav>
<div class="wrapper"> 





          <div class="card-deck">
            <div class="card" *ngFor="let item of items"   >

              <img class="card-img-top" src="{{item.image}}" alt="Card image cap"  (click)="myFunction(item)" routerLinkActive="router-link-active" >
              <div class="card-body">
                   <h5 class="card-title" >{{item.name}}</h5>
                   <p class="card-text" style="text-align: center;"></p>
                   <br>
                     <p class="dis" >{{item.description}}</p>
                     <br>
                     <p class="para" >R{{item.cost}}</p>
            </div>
               
                
           
              </div>
            </div>
      
  
</div>

<!--[routerLink]="['/posting']"-->