
* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 2rem;
    color: #414b56;
    
  }
  /* .card-deck{
      margin-top: 50px;
      align-items: flex-start;
  } */
  
  /* Basic design of blog card */
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  
  .card:hover {  /* blog post hover */
    transform: scale(1.05);
    box-shadow: 0px 2px 40px #d7dfe2;
  }
  
  
  /* Blog post design starts from here */
  .card {
    overflow: hidden;
    box-shadow: 0px 2px 20px #d7dfe2; /* Card outline shadow */
    background: white; /* post background color */
    border-radius: 0.5rem;
    position: relative;
    width: 350px; /* post card width */
    margin: 2pc;
    margin-top: 20px;
    transition: 250ms all ease-in-out;
    cursor: pointer;
  }
  
  
  
  /* Design of # tags, heading, description starts from here */
  .card-body {
    margin: 3rem 1.5rem 1rem 1rem;
    /* margin: 1rem 0 0.5rem; */
    
  }
  .card-text{
      margin-top: 2px;
  }
  .card-title{
      font-family: serif;
  }
  
