<div class="col-sm-12">
    <h1>Earnings</h1>

              <div class="card">
       
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title">{{this.earnings.errand}}</h5> 
                    </div>
                    <div class="col">
                      <h4 class="card-title justify-content-end" style="text-align: left;" >{{this.earnings.client}} </h4>
                    </div>
                    <div class="col">
                        <h5 class="card-title justify-content-end" >{{this.earnings.amount}} </h5>
                      </div>
                  </div>
                  
                 
               
                </div>
              </div>
      
       
    








