
<app-nav3></app-nav3>
<br>
<br>
<br>
<div class="col-sm-12 mt-5">

  <h1>Earnings</h1>

  <div class="card mt-3"  *ngFor="let item of earnings"  >
    <div class="card-body">
      <div class="row-list">
        <div class="col">
          <h2 class="card-title">{{ item.client_name }}</h2>
          <hr>
        </div>
        <div class="col">
          <h4 class="card-title" >
            {{ item.errand }}
          </h4>
        </div>
        <div class="col">
          <h5 class="card-title ">R
            {{ item.cost }}
          </h5>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="col">
    <h6 class="card-text" style="text-align: end">
      Total:R{{this.total}}
    </h6>
  </div> 
</div>
