<app-back-button></app-back-button>

<div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm-8 justify-content-center">
          <h4>Registration</h4>

          <form>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Surname">
              </div>
            </div>
            
            <div class="form-row mt-3">  
              <div class="col">
                <input type="text" class="form-control" placeholder="Cell Number">
              </div>
              <div class="col">
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>

            <div class="form-row mt-3">  
                <div class="col">

            <input type="password" class="form-control" placeholder="Password">
              </div>
            </div>

        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customControlInline">
            <label class="custom-control-label" for="customControlInline">I confirm that the above information is true</label>
          </div>
        
          <button type="button" class="btn btn-dark" (click)="myFunction()">Submit</button>
          <!--button  class="btn btn-primary my-1" (click)="myFunction()">Submit</button-->
        </form>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
  