

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 10rem;
  }

  /* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  } */

  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  /* .row {margin: 0 -5px;}  */
  /* .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }  */
  /* * {
    box-sizing: border-box;
  } */
  .card{
    box-shadow: 0 4px 8px 0 rgba(211, 0, 0, 0.2);
    background:#ffffff
  }
  