
.app {
  background-color: #b3e5fc !important;
  position:d-flex absolute;
  width: 100%;
  float: left;
  height: 100%;
}
.card {
  border: none;
  border-radius: 6px;
  background-color: #fff;
}
.text1 {
  font-size: 13px;
  color: #3d3a3a;
}
.info {
  line-height: 17px;
}


.shoppingcost span {
  color: #286783;
  font-weight: bold;
  font-size: 20px;
}
.shopping {
  background: #286783;
}
.queuingcost span {
  color: #286783;
  font-weight: bold;
  font-size: 20px;
}
.queuing {
  background-color: #286783;
}


.certifyingcost span {
    color: #286783;
    font-weight: bold;
    font-size: 20px;
  }
  .certifying {
    background-color: #286783;
  }
  .lawmowingcost span {
    color: #286783;
    font-weight: bold;
    font-size: 20px;
  }
  .lawnmowing {
    background-color: #286783;
  }
    


.cursor {
  cursor: pointer;
}
.image-container {
  position: relative;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}
.image-container:nth-child(1) {
  transition: opacity 10s ease;
}
.image-container:hover .xyz-replacement {
  display: block;
  animation: fade_in_show 0.5s;
}
.xyz-replacement {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 9;
  transition: opacity 10s ease;
}
@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.cart-text {
  transition: all 0.2s ease-in-out;
}
.cart:hover .cart-text {
  font-size: 18px;
}
