<div class="app">
  <div class="container mb-5 mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card mt-4">
          <div class="product-1 align-items-center p-2 text-center">
            <div class="image-container">
              <img
                class="image rounded"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrSuUJIZj5Y4jh-UQMXpB-GcQsCbNWpbhRZg&usqp=CAU"
                width="350"
              />
            </div>
            <h5>SHOPPING</h5>
            <div class="mt-3 info">
              <span class="text1 d-block">Description</span>
              <span class="text1">More infor</span>
            </div>
            <div class="shoppingcost mt-3 text-dark">
              <span>R100</span>
            </div>
          </div>
          <div class="shopping p-3 text-center text-white mt-3 cursor cart">
            <span class="text-uppercase cart-text">Request</span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-4">
          <div class="product-1 align-items-center p-2 text-center">
            <div class="image-container">
              <img
                class="xyz rounded"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrSuUJIZj5Y4jh-UQMXpB-GcQsCbNWpbhRZg&usqp=CAU"
                width="350"
              />
            </div>
            <h5>QUEUING</h5>
            <div class="mt-3 info">
              <span class="text1 d-block">Description</span>
              <span class="text1">More infor</span>
            </div>
            <div class="queuingcost mt-3 text-dark">
              <span>R100</span>
            </div>
          </div>
          <div class="queuing p-3 text-center text-white mt-3 cursor cart">
            <span class="text-uppercase cart-text">Request</span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mt-3"></div>
      </div>

      <div class="container mb-5 mt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="card mt-4">
              <div class="product-1 align-items-center p-2 text-center">
                <div class="image-container">
                  <img
                    class="xyz rounded"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrSuUJIZj5Y4jh-UQMXpB-GcQsCbNWpbhRZg&usqp=CAU"
                    width="350"
                  />
                </div>
                <h5>CERTIFYING</h5>
                <div class="mt-3 info">
                  <span class="text1 d-block">Description</span>
                  <span class="text1">More infor</span>
                </div>
                <div class="certifyingcost mt-3 text-dark">
                  <span>R100</span>
                </div>
              </div>
              <div
                class="certifying p-3 text-center text-white mt-3 cursor cart"
              >
                <span class="text-uppercase cart-text">Request</span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mt-4">
              <div class="product-1 align-items-center p-2 text-center">
                <div class="image-container">
                  <img
                    class="xyz rounded"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrSuUJIZj5Y4jh-UQMXpB-GcQsCbNWpbhRZg&usqp=CAU"
                    width="350"
                  />
                </div>
                <h5>LAWNMOWING</h5>
                <div class="mt-3 info">
                  <span class="text1 d-block">Description</span>
                  <span class="text1">More infor</span>
                </div>
                <div class="lawnmowingcost mt-3 text-dark">
                  <span>R100</span>
                </div>
              </div>
              <div
                class="lawnmowing p-3 text-center text-white mt-3 cursor cart"
              >
                <span class="text-uppercase cart-text">Request</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
