


 <br>
<nav class="navbar navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" type="button" value="<" onclick="history.go(-1)" style="color:aliceblue;"><img src="../../../assets/smart serve-logos_white.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">

          <a class="navbar-brand" type="button" value="<" onclick="history.go(-1)" style="color:aliceblue;"><img src="../../../assets/smart serve-logos_white.png" alt=""></a>

          <h1 class="offcanvas-title" id="offcanvasNavbarLabel" style="color:rgb(255, 255, 255);font-size:x-large;">smart serve</h1>
          <button mat-button (click)= "onLogout()">Logout</button>  

          <a class="navbar-brand" type="button" value="<" onclick="history.go(-1)" style="color:aliceblue;"><img src="../../../assets/smart serve-logos_white.png" alt=""></a>

          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a aria-current="page" routerLink="/requests" style="color:aliceblue;font-size:x-large;">Requests</a>
            </li>
            <li class="nav-item">

              <a routerLink="/earnings" style="color:aliceblue;font-size:x-large;">Earnings</a>

              <a class="nav-link" routerLink="/Earnings" style="color:aliceblue;font-size:x-large;">Earnings</a>

              <a routerLink="/earnings" style="color:aliceblue;font-size:x-large;">Earnings</a>

            </li>
            <li class="nav-item">
              <a  routerLink="/jobs" style="color:aliceblue;font-size:x-large;">My jobs</a>
            </li> <li class="nav-item">
              <a routerLink="/Ratings">Ratings</a>
            </li>

            <li >
              <a  id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              </a>
              
              
                <li><a [routerLink]="['/profile']">Profile</a></li>
                <li><a  [routerLink]="['/land']" routerLinkActive="router-link-active" >Sign out</a></li>
             
            
          </ul>
        </div>
      </div>
    </div>
  </nav>
  