<app-navbar></app-navbar>
<br>
<div class="grid-container">
    <br>
<br>
    <h1>SERVICE HISTORY</h1>
    <br>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shopping 

              </h5> 
              <hr>
            
              <p class="card-text">Date:<small class="text-muted">yesterday</small></p>
              <p class="card-text">service provider:<small class="text-muted">Lesego</small></p>
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-warning ml-2">Rate</button>
            </div>
            </div>
          </div>
        </div>
      </div>

</div>
