
<body>
    
<nav class="navbar navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:aliceblue;font-size:x-large;">Smart serve</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h1 class="offcanvas-title" id="offcanvasNavbarLabel" style="color:rgb(255, 255, 255);font-size:x-large;">smart serve</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashPage" style="color:aliceblue;font-size:x-large;">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/runn" style="color:aliceblue;font-size:x-large;">Runner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color:aliceblue;font-size:x-large;">Client</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="color:rgb(22, 77, 126);font-size:x-large;" >
  
              <li><a class="dropdown-item" routerLink="/log">Sign out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    <div class="container-fluid">
        <div class="row">
          
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <!-- <li class="breadcrumb-item active" aria-current="page">Overview</li> -->
                    </ol>
                </nav>
                <!-- <h1 class="h2">Dashboard</h1>
                <div class="row my-4">
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">Customers</h5>
                            <div class="card-body">
                              <h5 class="card-title">345k</h5>
                              <p class="card-text"></p>
                              <p class="card-text text-success">123k active</p>
                            </div>
                          </div>
                    </div> -->
                    
                    
    
<!--           
        
                </div> -->

                <div class="container_2">
                  <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">Client Side</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Full_Name</th>
                                            <th scope="col">Last_Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">Adress</th>
                                            <th scope="col">Action</th>
                                    
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr  *ngFor="let person of clients">
                                            <th scope="row">142</th>
                                         
                                            <td>{{person.name}}</td>
                                            <td>{{person.surname}}</td>
                                            <td>{{person.email}}</td>
                                            <td>{{person.cell_no}}</td>
                                            <td>Brixton</td>
                                            <td><a href="#" class="btn btn-sm btn-primary ">View</a></td>
                                            
                                            <td><a href="#" class="btn btn-sm btn-danger ">Delete</a></td>
                                          </tr>
                                          
                                      
                                         
                                      </table>
                                </div>
                                <!-- <a href="#" class="btn btn-block btn-light">View all</a> -->
                            </div>
                        </div>
                    </div>
                 
                </div>
            
                </div>
                
            </main>
        </div>
    </div>
 

</body>
