



    <div class="col-md-8" *ngFor="let item of People">
        <div class="card mb-3 &#xf2bd;" >
          <div class="card-body" >
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">First Name</h6>
              </div>
              <div class="col-sm-9 text-secondary"  >
              
               {{item.name}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last name</h6>
              </div>
              <div class="col-sm-9 text-secondary"  >
                {{item.surname}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary" >
                {{item.cell_no}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary" >
                {{item.email}}
              </div>
            </div>
            <hr>
            
              
              
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                    <input type="button" class="btn btn-primary px-4" style="background-color: #e77f58;" value="Edit" [routerLink]="['/edit']" routerLinkActive="router-link-active">
                </div>

             
            </div>
          </div>
        </div>
    </div>

    
