<!-- <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="row">
      <textarea
        class="text-muted mt-4 mb-3"
        placeholder="Write here your post?"
      ></textarea>
      <div class="btn">Post</div>
    </div>


  </div>
</div> -->

<div class="container px-4 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="card">
      <div class="flex-column">
        <h3 class="mb-0 font-weight-normal">Zizipho</h3>
      </div>
      <div class="row px-3 form-group">
        <textarea
          class="text-muted mt-4 mb-3"
          placeholder="Please write your post here"
        ></textarea>
      </div>
      <div class="row px-3">
        <div class="btn ml-auto">Post</div>
      </div>
    </div>
  </div>
</div>
