textarea {
  background-color: #c4c4c4;
  font-size: 16px;
  letter-spacing: 1px;
  height: 18rem;
}

.row {
  margin-top: 5rem;
  width: 90%;
  margin-left: 3rem;
}

.btn {
  color: rgb(243, 240, 239);
  background-color: #e77f58;
}
