<!-- <div class="card" *ngFor="let item of ratings">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
        <h4 class="card-title">{{item.rating}}</h4>
        <p class="card-text">{{item.reason}}</p>
    </div>
</div> -->

<app-navbar></app-navbar>

<br> <br> <br>
<div class="col-sm-9">
    <h1>Ratings</h1>
  
    <div class="card" *ngFor="let rating of ratings">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title">{{ rating.errand }}</h5>
          </div>
          <div class="col">
            <h5 class="card-title justify-content-end" style="text-align: end">
              {{ rating.client_name }}
            </h5>
          </div>
        </div>
  
        <p class="card-text">{{ rating.reason }}</p>
  
        <p class="card-text" style="text-align: end">{{ rating.rating }} ⭐️</p>
      </div>
    </div>
  </div>