
<div class="container">
  
    <div class="row">
      <div class="col-4">col-4
      

      </div>

      <div class="col-8">col-8</div>
    </div>
  </div>


  <!-- <app-nav></app-nav> -->
<br>

<div class="container">
  

      <div class="col-sm-12">
          <h1>Requests</h1>

        <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">{{this.ratings.errand}}</h5> 
              <h5 class="card-title">{{this.ratings.client}}</h5>
               
              <p class="card-text"> {{this.ratings.address}}</p>
              <p class="card-text"> "{{this.ratings.comment}}"</p>

              <div class="cont">
                <!-- <div class="stars">
                  <ngx-star-rating [(ngModel)]="rating3" [id]="'rating3'" ></ngx-star-rating >  -->
                   
              
              
                </div>
                <div>Rating: {{ rating3 }}</div>
              </div>
             
            </div>
          </div>

      </div>
 



   

