
<!-- <div class="container">
  
  <div class="row">
    <div class="col-4">col-4
    

    </div>

    <div class="col-8">col-8</div>
  </div>
</div> -->


<!-- <app-nav></app-nav> -->
<br>




    <div class="col-sm-12">
        <h1>Ratings</h1>
 
                  <div class="card">
           
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title">{{this.ratings.errand}}</h5> 
                        </div>
                        <div class="col">
                          <h5 class="card-title justify-content-end" style="text-align: end;" >{{this.ratings.client}}</h5>
                        </div>
                      </div>
                      
                      <p class="card-text"> {{this.ratings.comment}}</p>
                    

                      <p class="card-text "style="text-align: end;"> {{this.ratings.rating}} ⭐️</p>
                   
                    </div>
                  </div>
          
           
        





 

