

        
     


    <div class="container">
   
      <div class="row">
        <div class="col-sm"></div>


        <div class="col-sm liv mt-5">

          <form class="what" action="/action_page.php">
            <h1>create account</h1>
            <br>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select your role</option>
              <option value="1">Client</option>
              <option value="2">Service provider</option>
            </select>
            
            <br>
            
          <label for="fname">First name</label><br>
          <input type="text" id="fname" name="fname" placeholder="First Name"><br><br>
          <label for="lname">Last name</label><br>
          <input type="text" id="lname" name="lname" placeholder="Last Name"><br><br>
        
          <label for="fname">mobile Number</label><br>
          <input type="text" id="fname" name="fname" placeholder="mobile NUmber"><br><br>
          <label for="lname">Create password</label><br>
          <input type="password" id="password" name="password" placeholder="create password"><br><br>
         
          <label for="lname">Confirm password</label><br>
          <input type="password" id="cpassword" name="cpassword" placeholder="Confirm password"><br><br>
          <button class="button" > CREATE ACCOUNT</button>
        </form>


        </div>
        <div class="col-sm"></div>
      </div>
    </div>