<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<body>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">Home</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    
</nav>
    <div class="carousel-inner image" style="widows: unset;">
        <div class="carousel-item active">
            <div class="carousel-caption d-md-block pb-2 ">
                <h2 style="align-content:flex-start; color: aliceblue; font-size: xx-large;">A stress free solution, to
                    help you continue with your daily tasks. </h2>
                <br>
                <button class="button" routerLink="/create">sign-up</button>
                <button class="button" routerLink="/log">Login</button>
            </div>

        </div>
    </div>
    <br>
    <br>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-8" style="font-weight:100;"><p>
          When you need an errand runner, book a Tasker to pick up prescriptions,
           make a trip to the post office, or complete any other one-off on your list. 
          Trusted and timely Taskers are here to save the day.
           Book a Runner to run your errands and cross everything off your list!
           <br>
           <br>
           <button class="button5" routerLink="/log">Get started
           </button></p></div>
        <div class="col-sm-4 uo"><img src="https://res.cloudinary.com/taskrabbit-com/image/upload/f_auto,q_auto/ju7f4mnuvzlzksiv4vsg" alt="">
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
      <div class="carousel-inner" style="widows: unset;">
        <div class="carousel-item2 active">
            <div class="carousel-caption d-md-block pb-2 ">
              <div class="container">
                <div class="row justify-content-md-center">
               
                <div class="row">
                  <div class="col-sm-8">
                <img src="https://images.theconversation.com/files/437171/original/file-20211213-27-1ibi9jg.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip" alt="" style="display: flex;border:100px;margin-top:8vh;">
                  </div>
                </div>
              </div>
             
            </div>

        </div>
    </div>
      
