<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<body>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">Home</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    
</nav>
    <div class="carousel-inner image" style="widows: unset;">
        <div class="carousel-item active">
            <div class="carousel-caption d-md-block pb-2 ">
                <h2 style="align-content:flex-start; color: aliceblue; font-size: xx-large;">A stress free solution, to
                    help you continue with your daily tasks. </h2>
                <br>
                <button class="button" routerLink="/create">sign-up</button>
                <button class="button" routerLink="/log">Login</button>
            </div>

        </div>
    </div>
    <br>
    <div>
        <br>
        <h1>WHY THUMA-MINA?</h1>
        <br>
        <br>
        <div class="container ">
            <!-- ms-auto row row-cols-1 row-cols-md-3 g-4 -->
            <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="https://images.pexels.com/photos/8947493/pexels-photo-8947493.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <h1 style="color: black;">EARN MONEY</h1> 
                      <br>
                        <p style="color: black;">run basic errands and earn money </p>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/40b239f7-d477-4289-acf6-1c8ac9bc770c?w=90&h=90" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <h1>EARN MONEY</h1> 
                      
                        <p>run basic errands and earn money </p>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="https://www.africanbank.co.za/media/54643/lr_nomonthlyfees-2.png" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <h1>EARN MONEY</h1> 
                      
                        <p>run basic errands and earn money </p>
                      </div>
                    </div>
                  </div>
            </div></div>
          </div>
    </div>
    <br> 
    <br>
    <hr style="height:5px; width:67%; border-width:0; color:rgb(228, 117, 43); background-color:red">
<br>
<div class="container">
    <div class="row">
     
      <div class="col-12">
        <ul>
<div class="section-break"> </div>
<p>"this app gives you a personal assistant at your disposal at any time with less hustle and at an affordable price"
  <br></p>
          </ul>
      </div>  
    </div>
  </div>
</body>