<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<body>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">Home</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    
</nav>
    <div class="carousel-inner image" style="widows: unset;">
        <div class="carousel-item active">
            <div class="carousel-caption d-md-block pb-2 ">
                <h2 style="align-content:flex-start; color: aliceblue; font-size: xx-large;">A stress free solution, to
                    help you continue with your daily tasks. </h2>
                <br>
                <button class="button" routerLink="/create">sign-up</button>
                <button class="button" routerLink="/log">Login</button>
            </div>

        </div>
    </div>
    <br>
    <br>
   
  <h1>WHY SMART SERVE</h1>
  <br>
 <div class="container">
   <div class="row">
     <div class="col-sm-8" style="font-weight:100;"><p>
       When you need an errand runner, book a Tasker to pick up prescriptions,
        make a trip to the post office, or complete any other one-off on your list. 
       Trusted and timely Taskers are here to save the day.
        Book a Runner to run your errands and cross everything off your list!
        <br>
        <br>
        <button class="button5" routerLink="/log">Get started
        </button></p></div>
     <div class="col-sm-4 uo"><img src="https://images.pexels.com/photos/925786/pexels-photo-925786.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
     </div>
   </div>
 </div>
 
</body>
<!-- <footer class="pt-5 d-flex justify-content-between">
    <span>Copyright © smart serve </span>
    <ul class="nav m-0">
        <li class="nav-item">
          <a class="nav-link text-secondary" aria-current="page" href="#">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Terms and conditions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Contact</a>
        </li>
      </ul>
</footer> -->


