<!-- 
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-text">R500</h1>
              <p class="card-text">Earnings</p>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-text">4.7</h1>
              <p class="card-text">Requests</p>
            </div>
          </div>
      </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-text">4.7</h1>
                  <p class="card-text">My Jobs</p>
                </div>
              </div>
        </div>

        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-text">4.7</h1>
                  <p class="card-text">Ratings</p>
                </div>
              </div>
        </div>
      </div>
  </div> -->


<app-nav></app-nav>

<div class="wrapper"> 

 




          <div class="card-deck">
            <div class="card" *ngFor="let item of items"   >

              <!-- <img class="card-img-top" src="{{item.image}}" alt="Card image cap"  (click)="myFunction(item)" routerLinkActive="router-link-active" > -->
              <div class="card-body">
                   <h5 class="card-title" >{{item.earnings}}</h5>
                   <p class="card-text" style="text-align: center;"></p>
                   <br>
                     <p class="dis" >{{item.request}}</p>
                     <br>
                     <p class="para" >R{{item.jobs}}</p>
                     <br>
                     <p class="para" >R{{item.ratings}}</p>
            </div>
               
                
           
              </div>
            </div>
      
  
</div>