<!-- 
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-text">R500</h1>
              <p class="card-text">Earnings</p>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-text">4.7</h1>
              <p class="card-text">Requests</p>
            </div>
          </div>
      </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-text">4.7</h1>
                  <p class="card-text">My Jobs</p>
                </div>
              </div>
        </div>

        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-text">4.7</h1>
                  <p class="card-text">Ratings</p>
                </div>
              </div>
        </div>
      </div>
  </div> -->


<app-nav></app-nav>
<!-- 

           
            
            <!-- <img class="card-img-top" src="{{item.image}}" alt="Card image cap"  (click)="myFunction(item)" routerLinkActive="router-link-active" > -->
           
               
<!--                 
           
              
              <br>
              <div class="card"   style="background-color: #223c50" >

                <!-- <img class="card-img-top" src="{{item.image}}" alt="Card image cap"  (click)="myFunction(item)" routerLinkActive="router-link-active" > -->
                <!-- <div class="card-body" >
                     <h5 class="card-title"  style="color: aliceblue;">{{item.earnings}}</h5>
                     <p class="card-text" style="text-align: center;"></p>
                     <br>
                     <div>
  
                      <p class="dis" >{{item.request}}</p>
  
                     </div>
                      
                       <br>
                       <p class="para" >R{{item.jobs}}</p>
                       <br>
                       <p class="para" >R{{item.ratings}}</p>
              </div>
               -->
              <!-- <img class="card-img-top" src="{{item.image}}" alt="Card image cap"  (click)="myFunction(item)" routerLinkActive="router-link-active" > -->
             
                 
                  
             
                <!-- </div> -->
                <!-- <div class="wrapper">
                  <div class="card-deck">
                    <div class="card" *ngFor="let item of items">
                      <div class="container">
                        <div class="row">
                          <div class="col">col1
                            <div class="card"   style="background-color: #223c50" >
                 -->
                              <!-- <img class="card-img-top" src="{{item.image}}" alt="Card image cap"  (click)="myFunction(item)" routerLinkActive="router-link-active" > -->
                              <!-- <div class="card-body" >
                                   <h5 class="card-title"  style="color: aliceblue;">{{item.earnings}}</h5>
                                   <p class="card-text" style="text-align: center;"></p>
                                   <br>
                                   <div>
                
                                    <p class="dis" >{{item.request}}</p>
                
                                   </div>
                
                                     <br>
                                     <p class="para" >R{{item.jobs}}</p>
                                     <br>
                                     <p class="para" >R{{item.ratings}}</p>
                              </div>
                            </div> -->

                          <!-- </div>
                          <div class="col">
                            col2
                
                            <div class="card" style="background-color: #223c50"> -->
                              <!-- <img class="card-img-top" src="{{item.image}}" alt="Card image cap"  (click)="myFunction(item)" routerLinkActive="router-link-active" > -->
                              <!-- <div class="card-body">
                                <h5 class="card-title" style="color: aliceblue">
                                  {{ item.earnings }}
                                </h5>
                                <p class="card-text" style="text-align: center"></p>
                                <br />
                                <div>
                                  <p class="dis">{{ item.request }}</p>
                                </div>
                
                                <br />
                                <p class="para">R{{ item.jobs }}</p>
                                <br />
                                <p class="para">R{{ item.ratings }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            col3
                 -->
                            <!-- <div class="card" style="background-color: #223c50"> -->
                              <!-- <img class="card-img-top" src="{{item.image}}" alt="Card image cap"  (click)="myFunction(item)" routerLinkActive="router-link-active" > -->
                              <!-- <div class="card-body">
                                <h5 class="card-title" style="color: aliceblue">
                                  {{ item.earnings }}
                                </h5>
                                <p class="card-text" style="text-align: center"></p>
                                <br />
                                <div>
                                  <p class="dis">{{ item.request }}</p>
                                </div>
                
                                <br />
                                <p class="para">R{{ item.jobs }}</p>
                                <br />
                                <p class="para">R{{ item.ratings }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">col4
                
                
                            <div class="card"   style="background-color: #223c50" >
                 -->
                              <!-- <img class="card-img-top" src="{{item.image}}" alt="Card image cap"  (click)="myFunction(item)" routerLinkActive="router-link-active" > -->
                              <!-- <div class="card-body" >
                                   <h5 class="card-title"  style="color: aliceblue;">{{item.earnings}}</h5>
                                   <p class="card-text" style="text-align: center;"></p>
                                   <br>
                                   <div>
                
                                    <p class="dis" >{{item.request}}</p>
                
                                   </div>
                
                                     <br>
                                     <p class="para" >R{{item.jobs}}</p>
                                     <br>
                                     <p class="para" >R{{item.ratings}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                 -->
                      <!-- </div>
                            </div>
                       -->
                
                      <!-- </div> -->
                    <!-- </div>
                  </div>
                </div> --> 

                <div class="cards">
                  <div class="card">ONE</div>
                  <div class="card">TWO</div>
                  <div class="card">THREE</div>
                  <div class="card">FOUR</div>
                 
                </div>

            
            
      
  


