<app-nav></app-nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-text">R500</h1>
              <p class="card-text">Earnings</p>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-text">4.7</h1>
              <p class="card-text">Requests</p>
            </div>
          </div>
      </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-text">4.7</h1>
                  <p class="card-text">My Jobs</p>
                </div>
              </div>
        </div>

        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-text">4.7</h1>
                  <p class="card-text">Ratings</p>
                </div>
              </div>
        </div>
      </div>
  </div>