.card{
    background:linear-gradient(#223C50,#223C50);
    margin-top: 2rem;
    color: white;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

.h1{
    text-align: center;
}
