<app-navbar></app-navbar>
<br> 
<br>
<br>
<br>
<br>

<div class="container-fluid " >
   
    <div class="row" >
     
        <div class="col-sm p-3 min-vh-100">

<h1>Job History</h1>
                 
                    <div class="card mt-3"  *ngFor="let job of Jobs">
           
                        <div class="card-body" >
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title">{{job.errand}}</h5> 
                            </div>
                            <div class="col">
                              <h5 class="card-title justify-content-end" style="text-align: end;" >{{job.client_name}}</h5>
                              
                            </div>
                          </div>
                          <hr style="color: chocolate;">
                          
                          <p class="card-text"> {{job.address}}</p>

                        
                          <!--label for="{{job.status}}">Status: Completed</!--label-->
                        <form [formGroup]="form"  (ngSubmit)="onSubmit()">
                           <select class="btn-lg btn-group dropdown-toggle" formControlName="status"  >
                            <option value="">{{job.status}}</option>
                            <option value="In progress">In progress</option>
                            <option value="Completed">Completed</option>
                            </select>
                        </form>

                        <br>

                    <button class="btn2  btn-lg btn-block" (click)="myFunction(job)">save</button>

 </div> 
</div>
                    
               
            <!-- content -->
        </div>
    </div>
</div>