.card-header{
    background-color: white;
}

.col-sm-3{
    color: white;
    background-color: #223c50;
    text-align: center;
}


h1{
    text-align: center;
    font-family: Lora;
}

.btn{
    background-color: #223c50;
    border-radius: 15px;
    align-items: flex-end;
    text-align: center;
}

.card{
    display:flex;
}


 /* .d-flex{
    background-color: #223c50;
 }   */
 /* .dropdown{
    background-color: #223c50;   
 } */