
.button {
	background-color: rgb(212, 112, 66);
	border:wheat;
	color: rgb(255, 255, 255);
	padding: 10px 20px;
	text-align: center;
	
	margin-bottom: 1rem;
	cursor: pointer;
	border-radius: 16px;
    width: 100%;
  }

  .btn-2{margin-right:1rem;
    border-radius:16px;
    background-color: rgb(255, 255, 255);
    width: 10rem;
     }

input[type="number"] {
    width: 100%;
    height: 50px;
}
input[type="password"] {
    width: 100%;
    height: 50px;
}
label{
    color: aliceblue;
    padding-top: 0px;
}

p{
    color: aliceblue;
    text-align: center;
}

.liv{
    position: floor($number: 22%);
    background:linear-gradient(#223C50,#223C50);
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}

.what{
    height: 47rem;
    // padding-top: 50%;
    padding-bottom: 20%;
    
}

img{
    width:100%;
    height: 60%;
   
}

