
<body>
  <nav class="navbar navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:aliceblue;font-size:x-large;">Smart serve</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h1 class="offcanvas-title" id="offcanvasNavbarLabel" style="color:rgb(255, 255, 255);font-size:x-large;">smart serve</h1>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
 
              
                <li><a  routerLink="/log">Sign out</a></li>
              
            
          </ul>
        </div>
      </div>
    </div>
  </nav>
    <!-- 
<body>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="#">
                Simple Dashboard
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="mr-3 mt-1">
                <a class="github-button" href="#" data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star /themesberg/simple-bootstrap-5-dashboard"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg></a>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                  Hello, Matimba
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Messages</a></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span class="ml-2">Dashboard</span>
                          </a>
                        </li>
                   <br>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            <span class="ml-2">Runners</span>
                          </a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                              <span class="ml-2">Clients</span>
                            </a>
                          </li>
    
                      </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Overview</li>
                    </ol>
                </nav>
                <h1 class="h2">Dashboard</h1>
                <div class="row my-4">
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">Customers</h5>
                            <div class="card-body">
                              <h5 class="card-title">345k</h5>
                              <p class="card-text"></p>
                              <p class="card-text text-success">123k active</p>
                            </div>
                          </div>
                    </div>
                    
                    
    
                
                </div>
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">Latest transactions</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Order</th>
                                           
                                            <th scope="col">Customer</th>
                                    
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">17371705</th>
                                         
                                            <td>johndoe@gmail.com</td>
                                            <td>€61.11</td>
                                            <td>Aug 31 2020</td>
                                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">17370540</th>
                                    
                                            <td>jacob.monroe@company.com</td>
                                            <td>$153.11</td>
                                            <td>Aug 28 2020</td>
                                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">17371705</th>
                                          
                                            <td>johndoe@gmail.com</td>
                                            <td>€61.11</td>
                                            <td>Aug 31 2020</td>
                                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">17370540</th>
                                            
                                            <td>jacob.monroe@company.com</td>
                                            <td>$153.11</td>
                                            <td>Aug 28 2020</td>
                                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                          </tr>
                                         
                                      </table>
                                </div>
                                <a href="#" class="btn btn-block btn-light">View all</a>
                            </div>
                        </div>
                    </div>
                 
                </div>
            
            </main>
        </div>
    </div>
 

</body> -->
<body class="home">
  <div class="container-fluid display-table">
      <div class="row display-table-row">
          <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
              <div class="logo">
                  <!-- <a hef="home.html"><img alt="merkery_logo" class="hidden-xs hidden-sm">
                      <img  alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                  </a> -->
              </div>
              <div class="navi">
                  <ul>
                      <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                      <li><a routerLink="/runn"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Runners</span></a></li>
                      <!-- <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Statistics</span></a></li> -->
                      <li><a routerLink="/dash"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Clients</span></a></li>
                      <li><a routerLink="/log"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Sign out</span></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-10 col-sm-11 display-table-cell v-align">
              <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
              <div class="row">
                  <header>
                      <div class="col-md-7">
                          <nav class="navbar-default pull-left">
                              <div class="navbar-header">
                                  <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                      <span class="sr-only">Toggle navigation</span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                  </button> -->
                              </div>
                          </nav>
                          <div class="search hidden-xs hidden-sm">
                              <!-- <input type="text" placeholder="Search" id="search"> -->
                          </div>
                      </div>
                      <div class="col-md-5">
                          <div class="header-rightside">
                              <ul class="list-inline header-top pull-right">
                                  <!-- <li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Add Project</a></li> -->
                                  <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                  <li>
                                      <a href="#" class="icon-info">
                                          <i class="fa fa-bell" aria-hidden="true"></i>
                                          <span class="label label-primary">3</span>
                                      </a>
                                  </li>
                                  <!-- <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="user">
                                          <b class="caret"></b></a>
                                      <ul class="dropdown-menu">
                                          <li>
                                              <div class="navbar-content">
                                                  <span>S Sogiba</span>
                                                  <p class="text-muted small">
                                                      S@gmail.com
                                                  </p>
                                                  <div class="divider">
                                                  </div>
                                                  <a href="#" class="view btn-sm active">View Profile</a>
                                              </div>
                                          </li>
                                      </ul>
                                  </li> -->
                              </ul>
                          </div>
                      </div>
                  </header>
              </div>
              <div class="user-dashboard">
                  <h1>Hello, </h1>
                  <div class="row">
                      <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                          <div class="sales">
                              <h2>Total number of runners: {{this.numRunners[0].runners}}</h2>
   
                          </div>
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-12 gutter">

                          <div class="sales report">
                              <h2>Total number of Clients: {{this.numClients[0].clients}}</h2>
                             
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>



  <!-- Modal -->
  <div id="add_project" class="modal fade" role="dialog">
      <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
              <!-- <div class="modal-header login-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">Add Project</h4>
              </div> -->
              <!-- <div class="modal-body">
                          <input type="text" placeholder="Project Title" name="name">
                          <input type="text" placeholder="Post of Post" name="mail">
                          <input type="text" placeholder="Author" name="passsword">
                          <textarea placeholder="Desicrption"></textarea>
                  </div> -->
              <!-- <div class="modal-footer">
                  <button type="button" class="cancel" data-dismiss="modal">Close</button>
                  <button type="button" class="add-project" data-dismiss="modal">Save</button>
              </div> -->
          </div>

      </div>
  </div>

</body>